<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>NodeAdmin - Login</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-materia.css" crossorigin="anonymous">
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  {{> navbar }}

  <div class="container p-4">
    {{> msg}}
    {{> errors}}
    {{{ body }}}
  </div>

  <script src="/js/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="/js/popper.min.js" crossorigin="anonymous"></script>
  <script src="/js/bootstrap-4.3.1.min.js" crossorigin="anonymous"></script>
</body>

</html>